<ion-content class="ion-padding">
  <div class="perfil-scroll-container">
    <div class="perfil-row">
      <!-- Perfiles existentes -->
      <div class="perfil-container" *ngFor="let perfil of perfiles" (click)="seleccionarPerfil(perfil)">
        <ion-avatar>
          <img src="assets/icon/default_avatar.png">
        </ion-avatar>
        <div class="perfil-nombre">{{ perfil.nombre }}</div>
      </div>

      <!-- Botón para añadir nuevo perfil -->
      <div class="perfil-container add" (click)="addPerfil()">
        <ion-avatar>
          <img src="assets/icon/add_circle.png"/>
        </ion-avatar>
        <div class="perfil-nombre">Añadir niño/a</div>
      </div>

    </div>
  </div>

  <!-- Botón de configuración -->
  <div class="perfil-container" (click)="irAConfiguracion()">
    <ion-avatar>
      <img src="assets/icon/Settings.png">
    </ion-avatar>
    <div class="config">Configuración</div>
  </div>

  <!-- Círculos decorativos -->
  <div class="circle1"></div>
  <div class="circle2"></div>
</ion-content>