<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="volver()">
        <img src="assets/icon/arrow_back.png" alt="Volver" style="width: 24px; height: 24px;" />
      </ion-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="perfiles.length > 0; else sinPerfiles">

    <ion-item *ngFor="let perfil of perfiles">
      <ion-avatar slot="start">
        <img src="assets/icon/default_avatar.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ perfil.nombre }}</h2>
        <p>{{ perfil.fechaNacimiento }}</p>
      </ion-label>

      <div class="perfil-container" (click)="editarPerfil(perfil)">
        <ion-avatar>
          <img src="assets/icon/Edit.png">
        </ion-avatar>
      </div>
    </ion-item>

  </ion-list>

  <ng-template #sinPerfiles>
    <div class="ion-text-center">
      <p>No hay perfiles guardados.</p>
    </div>
  </ng-template>
</ion-content>