<ion-content [fullscreen]="true">
  
  <div class="welcome_message">
      <h1>¡Bienvenido!</h1>
      <div class="image-container">
        <img src="assets/icon/undraw_mobile-application_uc2q.png" alt="Undraw_mobile-appilaction"/>
      </div>

      <!-- Mensaje de bienvenida -->
      <p class="welcome-text">
        Con esta aplicación podrás obtener los consejos para tus niños y niñas de forma muy sencilla, 
        agendar controles, ver redes de salud, entre otros.
      </p>

      <ion-button [routerLink]="['/perfil']">Comenzemos</ion-button>
  </div>

  <!-- Círculos en la esquina -->
  <div class="circle1"></div>
  <div class="circle2"></div>
</ion-content>
