<app-panel-superior
  titulo = "Red de Salud"
  subtitulo = " "
  [button]="false"
></app-panel-superior>

<ion-content [fullscreen]="true">
  <div>
    <div>
       <ion-list>
          <app-tarjeta-centro *ngFor="let centro of centros"
            [titulo]="centro.nombre"
            [direccion]="centro.direccion"
            [horario]="centro.horario"
            [telefono]="centro.telefono.numero"
            [dynamicSize]="true"
          ></app-tarjeta-centro>
      </ion-list>
    </div>
  </div>
</ion-content>

