// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
* {
    font-family: 'Poppins', sans-serif;
  }
:root {
  //COLOR DE TEXTO DE LA APP
  --ion-background-color: #ffffff;
  --ion-text-color: #008b8b ;
  //--ion-text-color-rgb: 136, 19, 55;
  --ion-safe-area-top: 2vh;

  --ion-background-color-step-650: #f00648;

  --ion-text-color-step-650: #ffffff91;
  /* Colores personalizados */
  --ion-color-alimentos: #79B22D;
  --ion-color-alimentos-rgb: 121,178,45;
  --ion-color-alimentos-contrast: #ffffff;
  --ion-color-alimentos-contrast-rgb: 255,255,255;
  --ion-color-alimentos-shade: #6c9e28;
  --ion-color-alimentos-tint: #8cc04d;

  --ion-color-descanso: #00A5FF;
  --ion-color-descanso-rgb: 0,165,255;
  --ion-color-descanso-contrast: #fff;
  --ion-color-descanso-contrast-rgb: 255,255,255;
  --ion-color-descanso-shade: #0092e0;
  --ion-color-descanso-tint: #1ab3ff;

  --ion-color-estimulacion: #E0BE34;
  --ion-color-estimulacion-rgb: 224,190,52;
  --ion-color-estimulacion-contrast: #fff;
  --ion-color-estimulacion-contrast-rgb: 255,255,255;
  --ion-color-estimulacion-shade: #caa82f;
  --ion-color-estimulacion-tint: #e4c74d;

  --ion-color-prevencion: #CA5D3C;
  --ion-color-prevencion-rgb: 202,93,60;
  --ion-color-prevencion-contrast: #fff;
  --ion-color-prevencion-contrast-rgb: 255,255,255;
  --ion-color-prevencion-shade: #b35236;
  --ion-color-prevencion-tint: #d17357;

  --ion-color-emocional: #6E46BF;
  --ion-color-emocional-rgb: 110,70,191;
  --ion-color-emocional-contrast: #fff;
  --ion-color-emocional-contrast-rgb: 255,255,255;
  --ion-color-emocional-shade: #623fa9;
  --ion-color-emocional-tint: #7e5cc5;

  --ion-color-cuidados: #B5333A;
  --ion-color-cuidados-rgb: 181,51,58;
  --ion-color-cuidados-contrast: #fff;
  --ion-color-cuidados-contrast-rgb: 255,255,255;
  --ion-color-cuidados-shade: #9f2d33;
  --ion-color-cuidados-tint: #be4d54;

  --ion-color-rose: #831843;
  --ion-color-rose-rgb: 131, 24, 67;
  --ion-color-rose-contrast: #ffffff;
  --ion-color-rose-contrast-rgb: 255, 255, 255;
  --ion-color-rose-shade: #73153b;
  --ion-color-rose-tint: #8f2f56;

  --ion-color-aqua: #69d2d2;
  --ion-color-aqua-rgb: 105, 210, 210;
  --ion-color-aqua-contrast: #ffffff;
  --ion-color-aqua-contrast-rgb: 255, 255, 255;
  --ion-color-aqua-shade: #5bc0c0;
  --ion-color-aqua-tint: #78d7d7;
}

/* This overrides the global CSS variables for both modes */

:root.ios,
:root.md {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #881337;
  --ion-text-color-rgb: 136, 19, 55;

  --ion-text-color-step-50: #8e1e40;
  --ion-text-color-step-100: #94294a;
  --ion-text-color-step-150: #9a3453;
  --ion-text-color-step-200: #a03f5c;
  --ion-text-color-step-250: #a64b66;
  --ion-text-color-step-300: #ac566f;
  --ion-text-color-step-350: #b26178;
  --ion-text-color-step-400: #b86c82;
  --ion-text-color-step-450: #be778b;
  --ion-text-color-step-500: #c48295;
  --ion-text-color-step-550: #c98d9e;
  --ion-text-color-step-600: #cf98a7;
  --ion-text-color-step-650: #d5a3b1;
  --ion-text-color-step-700: #dbaeba;
  --ion-text-color-step-750: #e1bac3;
  --ion-text-color-step-800: #e7c5cd;
  --ion-text-color-step-850: #edd0d6;
  --ion-text-color-step-900: #f3dbdf;
  --ion-text-color-step-950: #f9e6e9;

  --ion-background-color-step-50: #f9e6e9;
  --ion-background-color-step-100: #f3dbdf;
  --ion-background-color-step-150: #edd0d6;
  --ion-background-color-step-200: #e7c5cd;
  --ion-background-color-step-250: #e1bac3;
  --ion-background-color-step-300: #dbaeba;
  --ion-background-color-step-350: #d5a3b1;
  --ion-background-color-step-400: #cf98a7;
  --ion-background-color-step-450: #c98d9e;
  --ion-background-color-step-500: #c48295;
  --ion-background-color-step-550: #be778b;
  --ion-background-color-step-600: #b86c82;
  --ion-background-color-step-650: #b26178;
  --ion-background-color-step-700: #ac566f;
  --ion-background-color-step-750: #a64b66;
  --ion-background-color-step-800: #a03f5c;
  --ion-background-color-step-850: #9a3453;
  --ion-background-color-step-900: #94294a;
  --ion-background-color-step-950: #8e1e40;
}
  


.ion-color-alimentos {
  --ion-color-base: var(--ion-color-alimentos);
  --ion-color-base-rgb: var(--ion-color-alimentos-rgb);
  --ion-color-contrast: var(--ion-color-alimentos-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alimentos-contrast-rgb);
  --ion-color-shade: var(--ion-color-alimentos-shade);
  --ion-color-tint: var(--ion-color-alimentos-tint);
}
.ion-color-descanso {
  --ion-color-base: var(--ion-color-descanso);
  --ion-color-base-rgb: var(--ion-color-descanso-rgb);
  --ion-color-contrast: var(--ion-color-descanso-contrast);
  --ion-color-contrast-rgb: var(--ion-color-descanso-contrast-rgb);
  --ion-color-shade: var(--ion-color-descanso-shade);
  --ion-color-tint: var(--ion-color-descanso-tint);
}
.ion-color-estimulacion {
  --ion-color-base: var(--ion-color-estimulacion);
  --ion-color-base-rgb: var(--ion-color-estimulacion-rgb);
  --ion-color-contrast: var(--ion-color-estimulacion-contrast);
  --ion-color-contrast-rgb: var(--ion-color-estimulacion-contrast-rgb);
  --ion-color-shade: var(--ion-color-estimulacion-shade);
  --ion-color-tint: var(--ion-color-estimulacion-tint);
}
.ion-color-prevencion {
  --ion-color-base: var(--ion-color-prevencion);
  --ion-color-base-rgb: var(--ion-color-prevencion-rgb);
  --ion-color-contrast: var(--ion-color-prevencion-contrast);
  --ion-color-contrast-rgb: var(--ion-color-prevencion-contrast-rgb);
  --ion-color-shade: var(--ion-color-prevencion-shade);
  --ion-color-tint: var(--ion-color-prevencion-tint);
}
.ion-color-emocional {
  --ion-color-base: var(--ion-color-emocional);
  --ion-color-base-rgb: var(--ion-color-emocional-rgb);
  --ion-color-contrast: var(--ion-color-emocional-contrast);
  --ion-color-contrast-rgb: var(--ion-color-emocional-contrast-rgb);
  --ion-color-shade: var(--ion-color-emocional-shade);
  --ion-color-tint: var(--ion-color-emocional-tint);
}
.ion-color-cuidados {
  --ion-color-base: var(--ion-color-cuidados);
  --ion-color-base-rgb: var(--ion-color-cuidados-rgb);
  --ion-color-contrast: var(--ion-color-cuidados-contrast);
  --ion-color-contrast-rgb: var(--ion-color-cuidados-contrast-rgb);
  --ion-color-shade: var(--ion-color-cuidados-shade);
  --ion-color-tint: var(--ion-color-cuidados-tint);
}

.ion-color-rose {
  --ion-color-base: var(--ion-color-rose);
  --ion-color-base-rgb: var(--ion-color-rose-rgb);
  --ion-color-contrast: var(--ion-color-rose-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rose-contrast-rgb);
  --ion-color-shade: var(--ion-color-rose-shade);
  --ion-color-tint: var(--ion-color-rose-tint);
}

.ion-color-aqua {
  --ion-color-base: var(--ion-color-aqua);
  --ion-color-base-rgb: var(--ion-color-aqua-rgb);
  --ion-color-contrast: var(--ion-color-aqua-contrast);
  --ion-color-contrast-rgb: var(--ion-color-aqua-contrast-rgb);
  --ion-color-shade: var(--ion-color-aqua-shade);
  --ion-color-tint: var(--ion-color-aqua-tint);
}
