<!--vercion de angular: 19-->
<app-panel-superior
  [button] = "false"
  [titulo] = "'Consejos para ' + perfil.nombre"
  [subtitulo] = "calcularEdad(perfil.fechaNacimiento)"
>
</app-panel-superior>


<ion-content [fullscreen]="true">
  <div>
    <div class="lista-consejos">
       <ion-list>
        <app-tarjeta-consejo *ngFor="let consejo of consejos"
          [class]="consejo.class"
          [titulo]="consejo.titulo"
          [imgUrl]="consejo.imgUrl"
          [color]="consejo.color"
          (click)="verConsejo(consejo.type)">
        </app-tarjeta-consejo>
      </ion-list>
    </div>

  </div>
</ion-content>


