<app-panel-superior
  [button]="false"
  [titulo]="'Calendario de actividades'">
</app-panel-superior>

<ion-content class="ion-padding calendario-content">
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
          <ion-datetime
            locale="es-ES"
            value="2025-06-18"
            color="rose"
            [isDateEnabled]="isWeekday"
            presentation="date"
            (ionChange)="onDateChange($event)"
            class="custom-calendar">
          </ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
            <!-- Card con la actividad -->
            <ion-card class="activity-card">
              <ion-card-header>
                <ion-card-title *ngIf="actividad">
                  {{actividad.titulo}}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content *ngIf="actividad">
                <p><strong>Ubicación:</strong> {{ actividad.ubicacion }}</p>
                <p><strong>Fecha:</strong> {{ actividad.fecha }}</p>
                <p>{{ actividad.descripcion || actividad.mensaje }}</p>
              </ion-card-content>

              <ion-card-content *ngIf="!actividad">
                <p>No hay actividad registrada para esta fecha.</p>
              </ion-card-content>

              <!-- Botones y flechas solo si hay actividad -->
              <ng-container *ngIf="actividad">
                <div class="icon-container">
                  <img src="assets/icon/arrow_left.png" class="arrow left-arrow" (click)="prevActividad()" />
                  <img src="assets/icon/arrow_right.png" class="arrow right-arrow" (click)="nextActividad()" />
                  <img src="assets/icon/check_circle.png" class="icon-button check-icon" (click)="confirmarActividad()" />
                  <img src="assets/icon/delete.png" class="icon-button delete-icon trash-icon" (click)="confirmarEliminacionActividad()" />
                  <img src="assets/icon/pen_tool.png" class="icon-button edit-icon" (click)="editarActividad(actividad.id)" />
                </div>
              </ng-container>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Botón agregar, solo si hay actividad -->
    <img *ngIf="fechaSeleccionada" src="assets/icon/add_circle.png" class="add-button" (click)="agregarActividad()" />

    <div *ngIf="mostrarEleminacion" class="popup-overlay">
      <div class="popup-content">
        <h3>Eliminar actividad</h3>
        <p>¿Deseas eliminar la actividad?</p>
        <div class="popup-buttons">
          <button (click)="cancelarEliminacion()">Cancelar</button>
          <button (click)="eliminarActividad()">Sí, eliminar</button>
        </div>
      </div>
    </div>

    <div *ngIf="mostrarConfirmacion" class="popup-overlay">
      <div class="popup-content">
        <h3>Confirmar actividad</h3>
        <p>¿Deseas Confirmar que la actividad ya fue terminada?</p>
        <div class="popup-buttons">
          <button (click)="cancelarEliminacion()">Cancelar</button>
          <button (click)="eliminarActividad()">Sí, Confirma</button>
        </div>
      </div>
    </div>

</ion-content>
