.calendario-content {
    --padding-bottom: 80px;
  }

  ion-datetime::part(calendar-day) {
    color: white !important;
  }
  
  ion-datetime::part(calendar-day-active) {
    color: white !important;
    background: #9d4edd !important;
  }
  
  .calendar-box {
    background: linear-gradient(to bottom, #89c5fd, #6ed3cf);
    border-radius: 20px;
    color: white;
  }  
  
  .custom-calendar {
    width: 100%;
    --background: transparent;
    --ion-color-primary: #9d4edd;
    --ion-color-primary-contrast: #fff;
  }
  

  /* Ajustes para activity-card */
.activity-card {
    position: relative;
    margin: 20px;
    padding-bottom: 40px; // Espacio para íconos en el borde inferior
    text-align: center;
    background-color: #fff;
  }
  
  /* Flechas en las esquinas superiores */
  .arrow {
    position: absolute;
    top: 10px; /* Posición en la parte superior */
    width: 28px;
    height: 28px;
    cursor: pointer;
    z-index: 2;
  }
  
  .left-arrow {
    left: 10px; /* Esquina superior izquierda */
  }
  
  .right-arrow {
    right: 10px; /* Esquina superior derecha */
  }
  
  /* Iconos en el borde inferior */
  .icon-button {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 2;
    cursor: pointer;
  }
  
  /* Posicionando el check_circle en la esquina inferior izquierda */
  .check-icon {
    left: 10px; /* Esquina inferior izquierda */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
  }
  
  /* Posicionando el pen_tool en la esquina inferior derecha */
  .edit-icon {
    right: 10px; /* Esquina inferior derecha */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
  }
  
  .trash-icon {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  /* Botón agregar */
  .agregar-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .add-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
  
  .custom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .large-title {
    font-size: 18px;    
    font-weight: bold;
    text-align: center;
    color: #9d4edd;         
  }

  .add-button {
    display: block;              /* Asegura que el img sea un bloque */
    margin: 0 auto;              /* Centra la imagen horizontalmente */
    width: 48px;                 /* Tamaño reducido (ajústalo según lo necesites) */
    height: 48px;                /* Tamaño reducido */
    cursor: pointer;            /* Mantener el cursor como puntero */
    z-index: 3;                  /* Asegura que la imagen esté sobre otros elementos */
  }