
  ion-datetime {
    max-height: 90vh;
    overflow-y: auto;
    --background: #fff1f2;
    --background-rgb: 255, 241, 242;

    border-radius: 16px;
    box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}

.custom-calendar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
  
  /* Ajustes para activity-card */
  .activity-card {
    position: relative;
    margin: 16px auto;
    padding: 16px 16px 48px 16px; /* Espacio para los iconos inferiores */
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
  }

  /* Flechas en las esquinas superiores */
  .arrow {
    position: absolute;
    top: 10px; /* Posición en la parte superior */
    width: 28px;
    height: 28px;
    cursor: pointer;
    z-index: 2;
  }

  .left-arrow {
    left: 10px; /* Esquina superior izquierda */
  }

  .right-arrow {
    right: 10px; /* Esquina superior derecha */
  }

  /* Iconos en el borde inferior */
  .icon-button {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 2;
    cursor: pointer;
  }

  /* Posicionando el check_circle en la esquina inferior izquierda */
  .check-icon {
    left: 10px; /* Esquina inferior izquierda */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
  }

  /* Posicionando el pen_tool en la esquina inferior derecha */
  .edit-icon {
    right: 10px; /* Esquina inferior derecha */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
  }

  .trash-icon {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
  }

  /* Botón agregar */
  .agregar-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }


  .add-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .custom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .large-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #9d4edd;
  }

  .arrow,
  .icon-button {
    width: 24px;
    height: 24px;
  }

  @media (min-width: 768px) {
    .arrow,
    .icon-button {
      width: 28px;
      height: 28px;
    }
  }

  .add-button {
    display: block;
    margin: 20px auto;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
  }
