.panel-superior {
  ion-header,
  ion-toolbar {
    //min-height: 110px;
    //max-height: none;
    transition: max-height 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: var(--ion-safe-area-top, 0);
    background-color: white;
  }

  app-info-seccion {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ion-toolbar.titulo-largo {
    max-height: none;
    min-height: 110px;
  }

  ion-buttons[slot="end"] {
    display: flex;
    align-items: center;
    padding-right: 16px;
  }
}