.panel-superior {
  ion-header,
  ion-toolbar {
    min-height: 110px; // O la altura que desees
    height: 110px;
    align-items: center;
  }
  ion-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
  }

  ion-buttons[slot="end"] {
    display: flex;
    align-items: center;
    padding-right: 16px; // <-- Agrega espacio a la derecha
  }
}
