<div class="panel-superior">
  <ion-header [translucent]="false">
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="button">
        <ion-button (click)="logout()">
          <ion-back-button default-href="#"></ion-back-button>
        </ion-button>
      </ion-buttons>
      <app-info-seccion
        [titulo]="titulo"
        [subtitulo]="subtitulo"
        [padding]="button ? '0px 0px' : '0px 32px'">
      </app-info-seccion>
      <ng-content></ng-content>
      </ion-toolbar>
  </ion-header>
</div>
