<div class="panel-superior">
  <ion-header [translucent]="false">
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="button">
        <ion-button>
          <ion-back-button *ngIf="!onBack" default-href="#" mode="md"></ion-back-button>
          <ion-back-button *ngIf="onBack" default-href="#" mode="md" (click)="onBack()"></ion-back-button>
        </ion-button>
      </ion-buttons>
      <app-info-seccion
        [titulo]="titulo"
        [subtitulo]="subtitulo"
        [padding]="button ? '0px 0px' : '0px 48px'">
      </app-info-seccion>
      <ion-buttons slot="end">
        <ng-content></ng-content>
      </ion-buttons>
      </ion-toolbar>
  </ion-header>
</div>
