.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.icon-left {
  font-size: 24px;
  cursor: pointer;
}

.greeting {
  flex-grow: 1;
  margin-left: 1rem;
}

.saludo {
  font-weight: bold;
  font-size: 18px;
}

.edad {
  font-size: 14px;
  color: gray;
}

.icon-group {
  display: flex;
  gap: 0.5rem;
}

.icon-right {
  font-size: 22px;
  color: #5c27fe;
}