.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.icon-left {
  font-size: 24px;
  cursor: pointer;
}

.greeting {
  flex-grow: 1;
  margin-left: 1rem;
}

.saludo {
  font-weight: bold;
  font-size: 18px;
}

.edad {
  font-size: 14px;
  color: gray;
}

.icon-group {
  display: flex;
  gap: 0.5rem;
}

.icon-right {
  font-size: 22px;
  color: #5c27fe;
}

.hito-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 8px;
}

.hito-card {
  min-width: 280px;
  max-width: 320px;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--ion-color-light);
}

.hito-card ion-card-content {
  white-space: normal;
  word-wrap: break-word;
  font-size: 22px;     
  line-height: 1.6;    
  padding: 10px;
}

.custom-header {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.custom-subtitle {
  font-size: 14px;
  margin-top: 4px;
}

.titulo-con-icono {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre imagen y texto */
}

.icono-info {
  width: 24px;
  height: 24px;
}
