<app-panel-superior
  [button]="true"
  [onBack]="goBack.bind(this)"
  [titulo] ="'¡Hola ' + perfil.nombre +'!'"
  [subtitulo]= "edadTexto"
>
<div class="icon-group">
      <img src="assets/icon/contactos.png" class="icon-right" (click)="irContactos()"/>
      <img src="assets/icon/notificaciones.png" class="icon-right" (click)="irNotificaciones()"/>
</div>
</app-panel-superior>

<ion-content>
  <ion-card *ngIf="hitos.length > 0">
    <ion-card-header class="custom-header">
      <div class="titulo-con-icono">
        <img src="assets/icon/Info.png" class="icono-info" />
        <ion-card-title>Hitos del desarrollo</ion-card-title>
      </div>
      <ion-text color="medium" class="custom-subtitle">{{ rangoEdad }}</ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="hito-scroll-container">
        <ion-card *ngFor="let hito of hitos" class="hito-card">
          <ion-card-content>
            {{ hito }}
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>