<ion-card [color]="color" style="display: flex; align-content: center; height: 120px;">
  <div class="tarjeta-contenido" style="display: flex; align-items: center;">
    <img
      alt="Silhouette of mountains"
      [src]="imgUrl"
      style="margin-right: 16px; margin-left: 16px; width: 64px; height: 64px;"
    />
    <div class="tarjeta-titulo" style="padding-right: 16px; height: 120px; align-content: center;">
        <ion-card-title *ngIf="titulo && titulo !== ''" style="font-size:21px;">{{ titulo }}</ion-card-title>
        <ion-card-subtitle *ngIf="subtitulo && subtitulo !== ''">{{subtitulo}}</ion-card-subtitle>
    </div>
  </div>
</ion-card>
