<!--vercion de angular: 19-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <app-info-seccion
      titulo="Consejos para Vicente"
      subtitulo="2 años y 3 meses">
    </app-info-seccion>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">consejos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-tarjeta-consejo
      *ngFor="let consejo of consejos"
      [titulo]="consejo.titulo"
      [subtitulo]="consejo.subtitulo"
      [contenido]="consejo.contenido"
      [imgUrl]="consejo.imgUrl"
      [color]="consejo.color">
    </app-tarjeta-consejo>
  </ion-list>
</ion-content>

