<ion-card [color]="color" class="tarjeta-dinamica">
  <div class="tarjeta-header">
    <h3 class="centro-titulo-text">{{ titulo }}</h3>
  </div>

  <div class="tarjeta-contenido">
    <!-- Imagen fija a la izquierda -->
    <img alt="Imagen centro" [src]="imgUrl" class="tarjeta-img" />

    <!-- Contenido a la derecha -->
    <div class="tarjeta-informacion">
      <div *ngIf="direccion">
        <span class="centro-direccion-text">{{ direccion }}</span>
      </div>
      <div *ngIf="horario">
        <span class="centro-horario-text">Horario:</span>
        <span class="centro-horario-text2">* {{ horario }}</span>
      </div>
      <div *ngIf="telefonosList.length > 0">
        <span class="centro-telefono-text">Teléfono:</span>
        <div>
          <span class="centro-telefono-text2" *ngFor="let tel of telefonosList">* {{ tel }}<br></span>
        </div>
      </div>
    </div>
  </div>
</ion-card>