.tarjeta-dinamica{
  background-color: #b86c82;
}

.tarjeta-titulo {
  display: flex;
  width: 100%;
  justify-content: start;
  flex-direction: column;
  text-align: start;
  cursor: pointer;
}

.centro-titulo-text {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.tarjeta-contenido {
  margin: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.tarjeta-img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 8px;
}

.tarjeta-informacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  color: white;
}

.centro-direccion-text,
.centro-horario-text,
.centro-horario-text2,
.centro-telefono-text,
.centro-telefono-text2 {
  margin: 0;
}

.tarjeta-header {
  padding: 8px 12px;
}

.centro-titulo-text {
  margin: 0;
  padding: 0 4px;
}
