<!-- Layout dinámico (más alto y flexible) -->
<ion-card [color]="color" class="tarjeta-dinamica">
  <div class="tarjeta-contenido">
    <img
      alt="Silhouette of mountains"
      [src]="imgUrl"
      class="tarjeta-img"
    />
    <div class="tarjeta-titulo">
      <div *ngIf="titulo" class="centro-titulo">
        <h3 class="centro-titulo-text">{{ titulo }}</h3  >
      </div>
      <div *ngIf="direccion" class="centro-direccion">
        <h6 class="centro-direccion-text">{{ direccion }}</h6>
      </div>
      <div *ngIf="horario" class="centro-horario">
        <h6 class="centro-horario-text">Horario:</h6>
        <span class="centro-horario-text2">{{ '* '+horario }}</span>
      </div>
      <div *ngIf="telefono" class="centro-telefono">
        <h6 class="centro-telefono-text">Telefono:</h6>
        <span class="centro-telefono-text2">{{ '* '+telefono }}</span>
      </div>
    </div>
  </div>
</ion-card>

