<ion-tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="consejos">
      <ion-icon name="list-outline"></ion-icon>
      Consejos
    </ion-tab-button>
    <ion-tab-button tab="calendario">
      <ion-icon name="calendar-outline"></ion-icon>
      Calendario
    </ion-tab-button>
    <ion-tab-button tab="red-salud">
      <ion-icon name="search"></ion-icon>
      Red de salud
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
