<ion-tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="play-circle"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="consejos">
      <ion-icon name="radio"></ion-icon>
      Consejos
    </ion-tab-button>
    <ion-tab-button tab="calendario">
      <ion-icon name="library"></ion-icon>
      Calendario
    </ion-tab-button>
    <ion-tab-button tab="red-salud">
      <ion-icon name="search"></ion-icon>
      Sucursales
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
